# Defaults
default.nick=DerpBot
default.user=derpbot
default.realname=The mighty DerpBot!

# Secret for using the http api. Leave empty to disable the http api.
http.api.secret=

# Bing maps. Leave empty to disable maps features
bing.maps.apikey=

# Networks
#            Host:              network.<name of network>.host=<prefix with ssl: for encrypted connection><hostname or ip>:<port>
#            Channels:          network.<name of network>.channels=<channels separated by comma>
# (Optional) Quieter channels:  network.<name of network>.channels.quieter=<channels separated by comma>
# (Optional) Nick:              network.<name of network>.nick=<nick>
# (Optional) User:              network.<name of network>.user=<user>
# (Optional) Real name:         network.<name of network>.realname=<real name>
network.ExampleNet.host=irc.example.com:6667
network.ExampleNet.channels=\#yolo,\#swag
network.ExampleNet.nick=HerpBot
network.ExampleNet.user=herypderp

network.AnotherExample.host=ssl:irc.example.org:6697
network.AnotherExample.channels=!shouting,\#derping
network.AnotherExample.channels.quieter=\#derping