# Global stuff and defaults
default.nick=DerpBot
default.user=derpbot
default.realname=The mighty DerpBot!

# Networks
# network.<name of network>=<prefix with ssl: for encrypted connection><hostname or ip>:<port>
network.ExampleNet=irc.example.com:6667
network.AnotherExample=ssl:irc.example.org:6667

# Channels
# channels.<name of network>=<channels separated by comma>
channels.ExampleNet=\#yolo,\#swag
channels.AnotherExample=!shouting,\#derping

# Nicks, usernames and realnames
# All optional, overrides the defaults
# <nick/user/realname>.<name of network>=<value>
# nick.ExampleNet=HerpBot